//sets the rows for preventing overflow in parent container
%clearfix:after {
	display:block;
	clear:both;
	content:'';
}
.row {
    @extend %clearfix;
    //when a row is followed by another add spacing
	& + & {
		margin-top:$grid-spacing;
	}
}
//all divs that contain with col-
[class*="col-"] {
	float:left;
    margin-right:$grid-spacing;
    //height and width consider the size of padding and border
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
    & :first-child{
        margin-top: 0%;
    }
	&:last-child {
		margin-right:0%;
	}
}
//Columns
.col-1 {
    width: (100% / 12) - ($grid-spacing * 11 / 12);
}

.col-2 {
    width: (100% / 6) - ($grid-spacing * 10 / 12);
}

.col-3 {
    width: (100% / 4) - ($grid-spacing * 9 / 12);
}

.col-4 {
    width: (100% / 3) - ($grid-spacing * 8 / 12);
}

.col-5 {
    width: (100% / 2.4) - ($grid-spacing * 7 / 12);
}

.col-6 {
    width: (100% / 2) - ($grid-spacing * 6 / 12);
}

.col-7 {
    width: (100% / 1.714285714285714) - ($grid-spacing * 5 / 12);
}

.col-8 {
    width: (100% / 1.5) - ($grid-spacing * 4 / 12);
}

.col-9 {
    width: (100% / 1.333333333333333) - ($grid-spacing * 3 / 12);
}

.col-10 {
    width: (100% / 1.2) - ($grid-spacing * 2 / 12);
}

.col-11 {
    width: (100% / 1.090909090909091) - ($grid-spacing * 1 / 12);
}

.col-12 {
    width: 100%;
}