header {
    @include flex(row, $primaryColor, 10vh, space-between, center);
    .logo {
        img{
            height: 7vh;
        }
    }
    .head-links{
        justify-content: space-between;
        a{
            padding: 1vw;
            &:hover{
                color: $secondaryColor;
            }
        }
    }
    .head-buttons{
        button{
            background: $primaryBtn;
            &:hover{
                background: $secondaryColor;
            }
        }
    }

}