.story-grid-container {
  display: flex;
  justify-content: center;
  background-color: $primaryColor;
}

.story-grid {
  width: 1200px ;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.story-grid-item {
  border: 1px solid #fff;
  width: 400px;
  height: 300px;
  background-color: $bkgThumbnailColor;
  padding: 1vw;
  margin: 3vw;
  align-items: center;
  justify-content: center;
  .first-item{
      margin-top: 3vw;
  }
  .thumbnail{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 350px;
      height: 125px;
      overflow: hidden;
    img{
        display: flex;
        justify-content: center;
        height: 100%;
        width: auto;
    }
  }

}