//Fonts
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lora&display=swap');
$font-header: 'Lora';
$font-body: 'Crimson Text';

//Color variables
$primaryColor: #011936;
$secondaryColor: #2D2D31;
$primaryBtn : #BA8B00;
$secondaryBtn: #ECE4B7;

$primaryHeaderColor: white;
$secondaryHeaderColor: #BA8B00;

$bkgThumbnailColor: white;
//red #720500;

$bodyColor: #020202;

//Grid variables
$grid-spacing:0%;

//Media sizes
$desktop-min: 1200px;
$tablet-max: 1199px;
$tablet-min: 679px;
$phone-max: 678px;
