//Fonts
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
$font-body: 'Lato';

//Color variables
$primaryColor: red;
$primaryBtn : rgb(52, 104, 143);

//Grid variables
$grid-spacing:0%;
