//Fonts
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
$font-body: 'Lato';

//Color variables
$primaryColor: white;
$secondaryColor: lightblue;
$primaryBtn : orange;
$secondaryBtn: pink;

//Grid variables
$grid-spacing:0%;
