@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Lora&display=swap");
.row:after {
  display: block;
  clear: both;
  content: '';
}

.row + .row {
  margin-top: 0%;
}

[class*="col-"] {
  float: left;
  margin-right: 0%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[class*="col-"] :first-child {
  margin-top: 0%;
}

[class*="col-"]:last-child {
  margin-right: 0%;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

header {
  color: white;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #011936;
  padding: 1vh 2vw;
}

@media screen and (max-width: 678px) {
  header .logo img {
    height: 5vh;
  }
  header .head-links {
    display: none;
  }
  header .head-buttons {
    display: none;
  }
}

@media screen and (min-width: 679px) and (max-width: 1199px) {
  header .logo img {
    height: 6vh;
  }
  header .head-links {
    display: none;
  }
  header .head-buttons {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  header .logo img {
    height: 7vh;
  }
  header .head-links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .head-links a {
    padding: 1vw;
  }
  header .head-links a:hover {
    color: #BA8B00;
  }
  header .head-buttons button {
    color: white;
    background-color: #011936;
    font-family: "Lora";
    font-size: 1.8vh;
    border: 2px solid #BA8B00;
    height: 5vh;
    margin: 1vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
  }
  header .head-buttons button:hover {
    background-color: #BA8B00;
    color: white;
  }
  header .head-buttons input {
    height: 3vh;
  }
}

.hero-banner {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #2D2D31;
  padding: 1vh 2vw;
}

body {
  margin: 0%;
  font-family: "Lora";
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */