@import "./variables";
@import "./grid";
@import "./mixins";
@import "./header";
@import "./hero-banner";
@import "./info-container";


body{
    margin: 0%;
    font-family: $font-header;
    font-weight: normal;
}
